<div style="display: flex; min-width: 400px;">
    <img flex="1" width="200px" height="300px" src="https://http2.mlstatic.com/D_NQ_NP_919146-MLU77228794012_072024-O.webp" />
    <div flex="2" class="data">
        <div class="title">
            A sementinha
        </div>
        <div class="description">
            A sementinha
        </div>
        <div class="authors">
            <p class="author">Nara Ragiotti</p>
            <p class="author">Gabriela Gil</p>
        </div>
    </div>
</div>
